<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  	<run>
  		<exclude name="Smoketest"></exclude>
  	</run>
  </groups>
  
   
    
  
    <classes>
      
      <class name="GroupingTestCases.group1"/>
      <class name="GroupingTestCases.group2"/>
      
    </classes>
  </test>
</suite>