<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
   
    <parameter name="num1" value="10"/>
    <parameter name="num2" value="20"/>
  
    <classes>
      
      <class name="Test_Automation_Testing.Parameterized_Testing"/>
    </classes>
  </test>
</suite>